:root {
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--very-dark-blue-main-bg: hsl(217, 54%, 11%);
--very-dark-blue-card-bg: hsl(216, 50%, 16%);
--very-dark-blue-line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Outfit', sans-serif;
	background: var(--very-dark-blue-main-bg);
}

h1 {
	color: var(--white);
	font-size: 22px;
	margin: 20px 0;
}

span {
	color: var(--soft-blue);
	line-height: 1.5;
	padding-top: 5px;
	font-weight: 300;
}

.text_right {
	color: var(--soft-blue);
	line-height: 1.5;
}

p, .text_left {
	color: var(--cyan);
}

.paragraph {
	color: var(--soft-blue);
	line-height: 1.5;
	font-size: 18px;
	font-weight: 300;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container {
	width: 350px;
	height: 600px;
	background: var(--very-dark-blue-card-bg);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 25px;
}

.featured_image {
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.icon_ethereum {
	width: 11px;
	height: 16px;
	margin: -2px 3px;
}

.icon_clock {
	width: 16px;
	height: 16px;
	margin: -2px 3px;
}

.line {
	border-top: 1px solid var(--very-dark-blue-line);
	display: block;
	align-self: center;
}

.footer {
	display: flex;
	margin-top: 15px;
}

.avatar {
	width: 35px;
	height: 35px;
	border: solid 2px white;
	border-radius: 50%;
}

.text_near_avatar {
	margin-left: 15px;
}

.name {
	color: var(--white);
}
